/*
Scorilo 1.0.1 - HTML Template by WowThemes.net
Visit: https://www.wowthemes.net
================================================== */
body {
	font-family:Roboto;
	font-weight:300;
	font-size:16px;
	color:#777;
	line-height:1.7;
}
h1,h2,h3,h4,h5,h6 {
	font-family:Roboto;
	font-weight:700;
}
.unstyle ul li,.unstyle ol li,ul.unstyle li,ol.unstyle li {
	list-style:none;
	line-height:inherit;
}
.text-left {
	text-align:left !Important;
}
a:hover {
	text-decoration:none;
}
.content-block {
	padding:50px 0;
	margin-top:50px;
}
.navbar-lg {
	min-height:76px;
}
.navbar-lg .navbar-brand {
	line-height:1;
	padding-top:20px;
	padding-bottom:26px;
	font-size:30px;
}
.navbar-toggle:before {
	background-image:url(../images/menu.png);
	background-repeat:no-repeat;
}
header .navbar-white a {
	color:#3D566E;
	font-weight:700;
}

header .navbar-white {
	background:#fff;
	box-shadow:0px 3px 2px 0px rgba(50,50,50,0.1);
}
.item.header {
	background-image:url(../images/homeimg.jpg);
	background-repeat:no-repeat;
	background-position:0% top;
	background-size:cover;
	background-attachment:scroll;
	background-color:rgba(0,0,0,0);
}
.navbar-nav,.navbar>.container .navbar-brand {
	font-family:Dosis;
	text-transform:uppercase;
}

@media (min-width:768px) {
	.navbar-lg .navbar-nav>li>a {
		padding-top:26px;
		padding-bottom:26px;
		 font-size:18px;
	}
	.navbar-lg .navbar-nav>li>a:hover,.navbar-lg .navbar-nav>li>a:active {
		background:#fff;
		color: #00bba7;
	}
}