<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>항해99ToyProject18조</title>

  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/navi.css">

</head>
<body>

  <!-- 네비게이션바 -->
  {% include "navbar.html" %}
  <!-- 기본 템플릿 안에 삽입될 내용 Start -->
  {% block content %}
    {# Template inserted here #}
  {% endblock %}
  <!-- 기본 템플릿 안에 삽입될 내용 End -->
  
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>
<!-- Bootstrap JS -->

</body>
</html>