

{% block content %}

    <section>
        <body1>


            <div class="card">

                <h1 class="center">항해99</h1>

                <form name="login_form">
                    <div class="int-area">
                        <label for="email">example@gmail.com</label>
                        <input type="email" name="email" class="field" required>
                    </div>
                    <div class="int-area">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="field" required>
                    </div>
                    <p class="error error--hidden"></p>
                    <div class="btn-area">
                        <input type="submit" value="Log In" class="btn">
                    </div>

                </form>
                <button><a href="/home" class="btn-area">회원가입하기</a></button>
            </div>


            </div>
        </body1>
    </section>
{% endblock %}

<script src="/static/js/jquery.js"></script>
<script src="/static/js/scripts.js"></script>
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/navi.css">