

{% block content %}

    <section>
    <body1>


    <div class="card">

      <h1 class="center">항해99 회원가입</h1>

      <form name="signup_form">
        <div class="int-area">
        <label for="name">Name</label>
        <input type="text" name="name" class="field" required>
        </div>
        <div class="int-area">
        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>
        </div>
        <div class="int-area">
        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>
        </div>
        <p class="error error--hidden"></p>
        <div class="btn-area">
        <input type="submit" value="Sign Up" class="btn">
        </div>
      </form>
      
    </div>


  
  </div>
    </body1>
    </section>
{% endblock %}

<script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>
 <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/navi.css">